.fav-wrapper {
    margin-bottom: 1000px;
}

.job-wrapper {
    display: flex;
    margin-top: 5px;
       margin-bottom: 5px;
   }
   
   .job-icon-wrapper {
   width: 40px;
   }
   
   .job-summary-wrapper {
       margin-left: 5%;
   }
   
   .job-title {
       font-weight: bold;
       color: black;
       font-size: 16px;
   
   
   }
   
   .job-sub-title-wrapper {
       display: flex;
       color: black;
       margin-top: 0;
       font-weight: 200;
       font-size: 10px ;
   
   }
   
   .company {
       font-size: 8px ;
   }
   
   .reference {
       font-size: 8px ;
   
   }
   
   .star-icon-wrapper {
       margin-left: 400px;
   
   }
   
   .fav-empty {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 1000px;
    color: black
   }