
<div class="container" *ngFor="let job of jobList; index as i">
   
   
    <div class="job-wrapper">
        <div class="job-icon-wrapper">
            <img [src]="job.companyLogo" alt="alternatetext">
        </div>
        <div class="job-summary-wrapper">

           
            <a
            [routerLink]="['/details']"
            [state]="{ id: job.id , origin: '/home'}">
            {{ job.title }}
          </a>

            <div class="job-sub-title-wrapper">
                
                <div class="company">Company: {{ job.companyName }} </div>
               <div class="reference">&nbsp; Reference: {{ job.reference}}</div>
            </div>

        </div>

        <div class="star-icon-wrapper">
            <span class="icon-star" (click)="addToFavourite(job, $event)" [id]="job.id"></span>   
        </div>
    </div>
</div>